 /* Items */
.stone-furnace{
  background-color: #000;
  width: 64px;
  height: 64px;
}

.basic-belt{
  /*background-color: yellow;*/
  width: 32px;
  height: 32px;
  background-image: url("https://raw.githubusercontent.com/Mackan90096/Factorio_Mod/master/graphics/icons/belt.png");
}

.item{
  background-repeat: no-repeat;
}

.fast-inserter{
  background-color: blue;
  width: 32px;
  height: 32px;
}

.wooden-chest{
  background-color: brown;
  width: 32px;
  height: 32px;
}

.asm-1{
 background-color: cyan;
 width: 64px;
 height: 64px;
}

.steel-chest{
  background-color: gray;
  width: 32px;
  height: 32px;
}

.stone-wall{
  background-color: darkgray;
  width: 32px;
  height: 32pc;
}

/* End Items */
