 /* Items */
.stone-furnace{
  background-color: #000;
  width: 32px;
  height: 32px;
}

.basic-belt{
  background-color: yellow;
  width: 16px;
  height: 16px;
}

.item{
  background-repeat: no-repeat;
}

.fast-inserter{
  background-color: blue;
  width: 16px;
  height: 16px;
}

.wooden-chest{
  background-color: brown;
  width: 16px;
  height: 16px;
}
/* End Items */
