 /* Items */
.stone-furnace{
  /*background-color: #000;*/
  background-image: url("./image/Stone-furnace.png");
  width: 32px;
  height: 64px;
}

.basic-belt{
  /*background-color: yellow;*/
  width: 32px;
  height: 32px;
  background-image: url("./image/belt.png");
}

.item{
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.fast-inserter{
  /*background-color: blue;*/
  background-image: url("./image/Fast-inserter.png");
  width: 32px;
  height: 32px;
}

.wooden-chest{
  /*background-color: brown;*/
  background-image: url("./image/Wooden-chest.png");
  width: 32px;
  height: 32px;
}

.asm-1{
 /*background-color: cyan;*/
 background-image: url("./image/Assembling-machine-1.png");
 width: 64px;
 height: 64px;
}

.steel-chest{
  /*background-color: gray;*/
  background-image: url("./image/Steel-chest.png");
  width: 32px;
  height: 32px;
}

.stone-wall{
  /*background-color: darkgray;*/
  background-image: url("./image/Wall.png");
  width: 32px;
  height: 32px;
}

/* End Items */
