body{
  background-color: #eee;
}

.stone-furnace{
  background-color: #000;
}

.basic-belt{
  background-color: yellow;
}

.item{
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

#app{
  width: 100%;
  height: 100%;
}
