body{
  background-color: #eee;
}

.stone-furnace{
  background-color: #000;
}

.basic-belt{
  background-color: yellow;
}

.item{
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

#app{
  width: 100%;
  height: 100%;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  background-color: #888;
}

.selected{
  border: 1px solid turquoise;
}
