body{
  background-color: #eee;
}

#app{
  width: 100%;
  height: 100%;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  background-color: #888;
}

.selected{
  border: 1px solid turquoise;
}

.menu{
  height: 10px;
  overflow: scroll;
}

.mach{
  display: inline-block;
}
